<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1 class="hot-deal-header" style="padding-left:205px!important">{{ category.name }} Deals</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
                <div class="card-heading" style="padding-top: 50px;">
                    <deal index="{{ $index }}" deal="deal" ng-repeat="deal in category.deals"></deal>
                </div>
            </div>
        </div>
    </div>
</section>