<style type="text/css">
    ul {
        display: inline-block;
        padding-left: 20px;
        text-align: left;
        color: #000000;
        font-family: Ubuntu, Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 22px;
    }

    td {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        word-break: break-word;
        font-size: 0px;
        padding: 10px 25px;
    }

    img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
    }

    p {
        display: block;
        margin: 13px 0;
    }
</style>
<!--[if !mso]><!-->
<style type="text/css">
    @media only screen and (max-width: 480px) {
        @-ms-viewport {
            width: 320px;
        }
        @viewport {
            width: 320px;
        }
    }
</style>
<!--<![endif]-->

<!--[if !mso]><!-->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
<style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
</style>
<!--<![endif]-->
<style type="text/css">
    @media only screen and (min-width: 480px) {
        .mj-column-per-100,
        * [aria-labelledby="mj-column-per-100"] {
            width: 100% !important;
        }

        .mj-column-per-50,
        * [aria-labelledby="mj-column-per-50"] {
            width: 50% !important;
        }
    }
</style>

<div style="padding-top:25px ;margin:0 auto;max-width:800px;">
    <div style="min-height:250px;background:url({{deal.asset_settings.hero_image}}) top center / 100% no-repeat;">
        <div style="text-align:center;vertical-align:top;padding:0px; font-size:0px;width:100%;">
            <table style="vertical-align:top;" width="100%">
                <tbody>
                <tr>
                    <td align="left"
                        style="color: {{(deal.asset_settings.hero_text_dark_color == '1') ? '#000' : '#fff'}} !important">
                        <div style="cursor:auto;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;">
                            <p><span style="font-size: 24px;">{{ deal.title }}</span></p>
                            <p><span>{{ deal.asset_settings.hero_intro }}</span></p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;">
        <table width="100%">
            <tbody>
            <tr>
                <td align="left">
                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;">
                        About {{ deal.business_name }}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;"
                         ng-bind-html="deal.business_about_us">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div style="text-align:center;vertical-align:top;font-size:0px;padding:20px 0px;padding-left:10px;">
            <div aria-labelledby="mj-column-per-50" class="mj-column-per-50"
                 style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table align="center">
                                <tbody>
                                <tr>
                                    <td style="width:250px; padding:0px 25px!important;">
                                        <img alt="" title="" height="auto"
                                             lazy-img="{{deal.asset_settings.promo_image1}}"
                                             style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto;"
                                             width="250">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="externalClass">
                                {{ deal.asset_settings.promo_image1_intro }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div aria-labelledby="mj-column-per-50" class="mj-column-per-50"
                 style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%;">
                <table width="100%">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table
                                    style="border-collapse:collapse;border-spacing:0px;" align="center">
                                <tbody>
                                <tr>
                                    <td style="width:250px; padding:0px 25px!important;">
                                        <img alt="" title="" height="auto"
                                             lazy-img="{{deal.asset_settings.promo_image2}}"
                                             style="border:none;display:block;outline:none;text-decoration:none;width:100%;height:auto;"
                                             width="250">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="externalClass">
                                {{ deal.asset_settings.promo_image2_intro }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <table width="100%">
            <tbody>
            <tr>
                <td align="left">
                    <div class="member-header">
                        Members Benefits
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="discount">
                        Members receive {{ deal.asset_settings.membership_benefit }} discount on their purchase.
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left" ng-bind-html="deal.asset_settings.benefit_highlight">
                </td>
            </tr>
            <tr>
                <td align="left">
                    <table style="border-collapse:separate;"
                           align="left">
                        <tbody>
                        <tr>
                            <td style="border:1px solid #C6AA5C;border-radius:20px;color:#C6AA5C;cursor:auto;"
                                align="center" valign="middle" bgcolor="#ffffff">
                                <a ng-click="redeemDeal(deal)" class="offer pointer-cursor" target="_blank">
                                    Redeem Offer
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr ng-if="deal.can_redeem">
                <td align="left">
                    <div class="ReadMsgBody" ng-bind-html="deal.asset_settings.redemption_instructions">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

