<div ng-controller="DealvineHardLoginController">
    <div class="container-fluid" style="margin-top: 50px">
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" ng-model="password"
                                   id="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="button" value="Login" ng-click="login()"
                                   class="btn btn-blue pull-right" ng-hide="isLogging">
                            <double-bounce-spinner class="pull-right" ng-show="isLogging" ></double-bounce-spinner>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>