<div ng-controller="HomeController">
    <section id="brand-logo">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 brand-body">
                    <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 popular-brand" align="center">
                        <p><span>Popular</span> Brands</p>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-2 col-xs-4 brand" ng-repeat="brand in brands">
                        <popular-brand brand="brand"></popular-brand>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="flash-sales">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading pull-left">
                        <h1>Flash Sales</h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 padding-left-0px">
                    <flash-sale flash-sale="flashSale" ng-repeat="flashSale in flashSales"></flash-sale>
                </div>
            </div>
        </div>
    </section>

    <section id="categories" class="services home-section">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Section heading -->
                    <div class="section-heading pull-right">
                        <h1>Categories</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <category category="category" ng-repeat="category in categories"></category>
            </div>
        </div>
    </section>

    <section id="hottestDeal" class="services home-section">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <!-- Section heading -->
                    <div class="section-heading section-heading-top pull-left">
                        <h1>Hottest Deals</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <deal deal="deal" index="{{ $index }}" ng-repeat="deal in hotDeals"></deal>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a ui-sref="hotDeals">
                        <button class="btn btn-gray view-more">More Hottest Deals</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="specialDeal" class="services home-section">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- Section heading -->
                    <div class="section-heading pull-right">
                        <h1>Special Deals</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="custom_carousel" class="col-lg-12 col-md-12 col-sm-12 carousel slide" data-ride="carousel"
                     data-interval="false">
                    <div class="controls">
                        <special-deal-header special-deal="specialDeal" index="{{ $index }}"
                                             selected-index="selectedIndex" ng-click="activateSpecialDeal($index)"
                                             ng-repeat="specialDeal in specialDeals">
                        </special-deal-header>
                    </div>
                    <div class="carousel-inner col-lg-12 col-md-12 col-sm-12 padding-left-0px" >
                        <div class="item" ng-class="{'active': $index == 0}" ng-repeat="specialDeal in specialDeals" style="padding-top: 14px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 padding-left-0px">
                                        <special-deal store="store"
                                                      ng-repeat="store in specialDeal.stores"></special-deal>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a   data-target="#custom_carousel" data-slide-to="{{ selectedIndex }}" class="right carousel-control"  style="cursor:pointer">
                        <img src="themes/dealvine/assets/images/right.png" alt=""
                             ng-click="activateSpecialDeal(selectedIndex+1)" >
                    </a>
                    <a data-target="#custom_carousel" data-slide-to="{{ selectedIndex }}" class="left carousel-control"  style="cursor:pointer">
                        <img src="themes/dealvine/assets/images/left.png" alt=""
                             ng-click="activateSpecialDeal(selectedIndex-1)">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="discount-section" class="discount-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 discount-container padding-0px" style="margin-top: 3%;">
                    <img src="themes/dealvine/assets/images/discount_back.png" class="img-responsive discount-img-fixed"
                         width="100%"
                         alt="">
                    <img src="themes/dealvine/assets/images/phone.png" alt="" class="img-responsive overlay_image">
                    <p class="discount-text">
                        Get your discounts right into your pocket.
                    </p>
                    <a target="_blank" href="https://itunes.apple.com/us/app/dealvine/id1163507979?mt=8">
                        <img src="themes/dealvine/assets/images/app_store.png" alt="" class="app-store">
                    </a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.neon.dealvine">
                        <img src="themes/dealvine/assets/images/google_store.png" alt="" class="play-store">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>