<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1 style="padding: 0 0 1px 24px;min-height:80px"> Hot Deals
                    <img style="float: right;height: 80px;" src="themes/dealvine/assets/images/hottest_deal_header.png">
                </h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- Section heading -->
                <div class="card-heading" style="padding-top: 50px;">
                    <deal index="{{ $index }}" deal="deal" ng-repeat="deal in hotDeals"></deal>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 10px">
            <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
            <button class="btn btn-save-card" ng-click="loadMoreDeals()" ng-show="!isLoading && !noMoreDeals">
                More Deals
            </button>
        </div>
    </div>
</section>