<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1>My Saving Cards</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div id="custom_carousel_cards" class="col-lg-12 col-md-12 col-sm-12 carousel slide">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 card-brand padding-0px">
                            <my-saving-card saving-card="savingCard" ng-repeat="savingCard in savingCards">
                            </my-saving-card>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
                    <button class="btn btn-save-card" ng-hide="isLoading || noMoreSavingCards"
                            ng-click="loadMoreSavingCards()">
                        More Saving Cards
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>