<section id="user-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1> Edit Profile</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-6 col-sm-12">
                <div class="card-heading" style="padding-top: 50px;">
                    <form class="form-horizontal profile">
                        <div class="form-group">
                            <label for="firstName" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="customerProfile.firstName"
                                       id="firstName" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="lastName"
                                       ng-model="customerProfile.lastName" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="user_name"
                                       ng-model="customerProfile.user_name" placeholder="User Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email"
                                       ng-model="customerProfile.email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BirthDate" class="col-sm-4 control-label">Birth Date</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="BirthDate"
                                       ng-model="customerProfile.birthDate" max="{{maxDate | date: 'yyyy-MM-dd'}}"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" style="padding-top: 0px;"
                                   class="col-sm-4 control-label">Gender</label>
                            <div class="col-sm-8">
                                <input type="radio" ng-model="customerProfile.gender" value="male"> Male
                                <input type="radio" ng-model="customerProfile.gender" value="female"> Female
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="voice_preference" class="col-sm-4 control-label">Voice Preference</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="voice_preference"
                                        ng-model="customerProfile.voice_preference">
                                    <option value="" ng-selected>Please Select Language</option>
                                    <option value="en-US_MichaelVoice" ng-selected>English (United State)</option>
                                    <option value="en-GB_KateVoice" ng-selected>English (British)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="button" value="Update" ng-click="updateProfile()"
                                       class="btn btn-blue pull-right" ng-hide="isUpdating">
                                <double-bounce-spinner class="pull-right" ng-show="isUpdating" ></double-bounce-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>