<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1> Saving Cards</h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- Section heading -->
                <div class="card-heading pull-left">
                    <h1>Select a category</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="custom_carousel_cards" class="col-lg-12 col-md-12 col-sm-12">
                <div class="controls col-lg-12 col-md-12 col-sm-12 padding-right-0px">
                    <div class="row card-category slider4">
                        <slick settings="slickConfigs" ng-if="storesLoaded" style="height: 200px;max-width: 975px"
                               prev-arrow=".card-left" next-arrow=".card-right">

                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 card-category-body shadow"
                                 ng-click="selectCategory($index)"
                                 ng-class="{'card-active': category.isSelected == true}"
                                 ng-repeat="category in categories">
                                <div class="category-icon"
                                     style="font-size: 40px;text-align: center;margin-bottom: 10px"
                                     ng-class="category.icon"></div>
                                <p>
                                    <a ng-href="" style="cursor: pointer" class="card-category-text">
                                        {{ category.name }}
                                    </a>
                                </p>
                            </div>

                        </slick>
                    </div>
                    <a href="javascript:void(0)" class="card-left hidden-xs left" style="top: 20%">
                        <img src="themes/dealvine/assets/images/left.png" alt="">
                    </a>
                    <a href="javascript:void(0)" class="card-right hidden-xs right" style="top: 20%">
                        <img src="themes/dealvine/assets/images/right.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 card-brand padding-0px">
                            <saving-card saving-card="savingCard" ng-repeat="savingCard in activeCategory.savingCards">
                            </saving-card>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12 text-center">-->
                <!--<button class="btn btn-save-card">More Saving Cards</button>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</section>