<section id="saving-card-deals">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading" style="background-color: #500e88">
                <h1 class="pull-left" style="padding: 0 0 1px 24px;min-height:80px"> {{ savingCard.name }}</h1>
                <div class="pull-right" style="margin-top: 31px;margin-right: 23px" ng-hide="isLoading">
                    <input type="button" class="btn btn-green pull-right" value="Purchase" ng-disabled="isLoading"
                           ng-click="purchaseSavingCard()" ng-show="!savingCard.is_purchased"/>
                    <input type="button" class="btn btn-green pull-right disabled" value="Purchased"
                           ng-show="savingCard.is_purchased"/>
                </div>
                <div class="pull-right saving-card-deals-text-container" ng-hide="isLoading">
                    <p class="saving-card-deals-text">{{savingCard.deals.length}} Deals</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
                <div class="card-heading" style="padding-top: 50px;" ng-show="!isLoading">
                    <deal index="{{ $index }}" deal="deal" ng-repeat="deal in savingCard.deals"></deal>
                </div>
            </div>
        </div>
    </div>
</section>