<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1 style="padding: 0 0 1px 24px;min-height:80px"> Search Results for {{search}}
                    <img style="float: right;height: 80px;" src="themes/dealvine/assets/images/hottest_deal_header.png">
                </h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row" ng-if="stores.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-heading pull-left">
                    <h1>Stores</h1>
                </div>
            </div>
        </div>
        <div class="row" ng-if="stores.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="item ">
                    <div class="col-lg-2 col-sm-6 col-md-4 card-feature-body shadow pull-left" ng-repeat="store in stores" style="margin-right: 20px">
                        <a ui-sref="storeDeals({store:'{{store.mobile_site_name}}'})">
                            <img src="{{ store.image }}" class="img-responsive store-image"/>
                            <span class="store-title">{{ store.name }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="savingCards.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-heading pull-left">
                    <h1 style="margin-top: 20px">Saving Cards</h1>
                </div>
            </div>
        </div>
        <div class="item" ng-if="savingCards.length > 0">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 card-brand padding-0px">
                    <saving-card saving-card="savingCard" ng-repeat="savingCard in savingCards">
                    </saving-card>
                </div>
            </div>
        </div>
        <div class="row" ng-if="deals.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-heading pull-left">
                    <h1 style="margin-top: 0;margin-bottom: 0">Deals</h1>
                </div>
            </div>
        </div>
        <div class="row" ng-if="deals.length > 0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-heading" style="padding-top: 50px;margin-left: -15px">
                    <deal index="{{ $index }}" deal="deal" ng-repeat="deal in deals"></deal>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 10px">
            <double-bounce-spinner ng-show="isDealsLoading || isStoresLoading || isSavingaCardsLoading" >
            </double-bounce-spinner>
        </div>
    </div>
</section>