<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1 style="padding: 0 0 1px 24px;min-height:80px"> Stores
                    <img style="float: right;height: 80px;" src="themes/dealvine/assets/images/featured_header.png">
                </h1>
            </div>
        </div>
    </div>
    <div class="wrapper" style="padding-bottom: 25px">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- Section heading -->
                <div class="card-heading pull-left">
                    <h1>Featured Stores</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="item ">
                    <div class="container" style="padding-left: 1px">
                        <div class="row card-category slider4">
                            <slick settings="slickConfig" ng-if="storesLoaded" style="height: 200px;max-width: 975px">
                                <div class="card-feature-body shadow slide" ng-repeat="store in featuredStores">
                                    <a ui-sref="storeDeals({store:'{{store.mobile_site_name}}'})">
                                        <img src="{{ store.image }}" class="img-responsive"/>
                                    </a>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <double-bounce-spinner ng-show="isLoading"></double-bounce-spinner>
                <div ng-hide="isLoading">
                    <uib-accordion>
                        <div uib-accordion-group class="panel-default"
                             heading="{{ '<span class='+category.icon+'> '+category.name+'</span>' }}"
                             ng-repeat="category in dealsWithCategories"
                             template-url="themes/dealvine/assets/app/directives/featured_category.html">
                            <store-category-brand deal="deal" ng-repeat="deal in category.deals"></store-category-brand>
                            <div class="clearfix"></div>
                            <a ui-sref="categoryDeals({category:'{{category.slug}}'})"
                               style="color: #535353;font-size: 15px;padding-right: 2px;">View All</a>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="panel custom-panel">
                    <div class="section-heading">
                        <h3 class="season-deals-title text-center">Season Deals</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="season-thumbnail">
                                <img src="themes/dealvine/assets/images/macys.png" class="img-responsive">
                                <span class="coupons-deals-title">18 Coupons & Deals</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="season-thumbnail">
                                <img src="themes/dealvine/assets/images/fashion.png" class="img-responsive">
                                <span class="coupons-deals-title">12 Coupons & Deals</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="season-thumbnail">
                                <img src="themes/dealvine/assets/images/amazon_logo.png" class="img-responsive">
                                <span class="coupons-deals-title">17 Coupons & Deals</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="season-thumbnail">
                                <img src="themes/dealvine/assets/images/macys.png" class="img-responsive">
                                <span class="coupons-deals-title">13 Coupons & Deals</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel custom-panel">
                    <div class="section-heading">
                        <h3 class="season-deals-title text-center">Hot</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="season-thumbnail">
                                <img src="themes/dealvine/assets/images/macys.png" class="img-responsive">
                                <span class="coupons-deals-title">18 Coupons & Deals</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="panel season-third-panel">-->
                    <!--<div class="panel-body">-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
                            <!--<div class="save-offer-thumbnail">-->
                                <!--<img src="themes/dealvine/assets/images/save_20.png" class="img-responsive">-->
                                <!--<p class="save-origins">-->
                                    <!--Shop Origins with 4.0% Cash Back <i class="glyphicon glyphicon-play"></i>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>