<section id="card-category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding-0px title section-heading">
                <h1 class="hot-deal-header">
                    <img style="margin-left: 58px;height:82px;width: 82px" lazy-img="{{ store.image }}"> {{ store.name }}
                </h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-heading" style="padding-top: 50px;">
                    <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
                    <deal index="{{ $index }}" deal="deal" ng-repeat="deal in store.deals"></deal>
                </div>
            </div>
        </div>
    </div>
</section>