description = "Default layout"
==
<?php
function onStart() {
    $this['neon_url'] = config('dealvine.neon_url');
    $this['stripe_key'] = config('dealvine.stripe_key');
    $this['style_css'] = dealvine_elixir('dealvine', 'build/style.css');
    $this['third_party_js'] = dealvine_elixir('dealvine', 'build/3rd-party.js');
    $this['app_js'] = dealvine_elixir('dealvine', 'build/app.js');
    $this['controllers_js'] = dealvine_elixir('dealvine', 'build/directives.js');
    $this['directives_js'] = dealvine_elixir('dealvine', 'build/controllers.js');
    $this['services_js'] = dealvine_elixir('dealvine', 'build/services.js');
}
?>
==
<html>
<head>
    <meta charset="utf-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Dealvine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Dealvine">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://s3-us-west-1.amazonaws.com/neon-dev/css/icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,100,200,300,500,600,800,700,900'
          rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ 'assets/fonts/MyriadPro-Semibold.otf'|theme }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% styles %}
    <link rel="stylesheet" href="{{ style_css|theme }}">
</head>

<body ng-app="dealvine">
{% partial 'header' %}
<div class="main">
    {% page %}
</div>
{% partial 'footer' %}
<!-- Scripts -->
<script type="application/javascript">
    var baseUrl = '{{ neon_url }}';
    var stripeKey = '{{ stripe_key }}';
</script>

<script src="{{ third_party_js|theme }}"></script>
<script src="{{ app_js|theme }}"></script>
<script src="{{ controllers_js|theme }}"></script>
<script src="{{ directives_js|theme }}"></script>
<script src="{{ services_js|theme }}"></script>
{% framework extras %}
{% scripts %}

<script type="text/javascript">
    $(document).ready(function(ev){
        $('#custom_carousel').on('slide.bs.carousel', function (evt) {
            $('#custom_carousel .controls div.deal-title.active').removeClass('active');
            $('#custom_carousel .controls div:eq('+$(evt.relatedTarget).index()+')').addClass('active');
        });
        $(".left").click(function () {
            $("#custom_carousel").carousel("prev");
            $("#custom_carousel_cards").carousel("prev");
        });
        $(".right").click(function () {
            $("#custom_carousel").carousel("next");
            $("#custom_carousel_cards").carousel("next");
        });

//        branch.init('key_live_gprdjUmrJLEdJxwyMKg6WpffurjjeVAu', function(err, data) {});
    });
</script>
</body>
</html>