<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-xs-12 col-sm-12">
                    <a href="{{ facebookUrl }}" class="btn  btn-block btn-facebook pull-right">
                        <i class="fa fa-facebook "></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" style="margin-top:10px">
                <div class="col-xs-12 col-sm-12">
                    <a href="{{ googleUrl }}" class="btn btn-block btn-google pull-left">
                        <i class="fa fa-google"></i>
                        <span class="hidden-xs">Google</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" style="margin-top:10px">
                <div class="col-xs-12 col-sm-12">
                    <a href="{{ twitterUrl }}" class="btn btn-block btn-twitter pull-left">
                        <i class="fa fa-twitter"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
