<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Purchase Saving Card</h4>
</div>
<div class="modal-body" style="padding-right: 25px;overflow: auto;max-height: 550px">
    <div class="item">
        <div class="row">
            <h4 style="padding-left: 15px">
                You are just one step away from your deal. Purchase any one saving card to get your deal.
            </h4>
            <double-bounce-spinner ng-show="isLoading" ></double-bounce-spinner>
            <div class="col-lg-12 col-md-12 col-sm-12 card-brand padding-0px">
                <saving-card saving-card="savingCard" on-purchase-success="onPurchaseSuccess" ng-repeat="savingCard in savingCards"></saving-card>
            </div>
        </div>
    </div>
</div>
