<div class="col-lg-4 col-md-4 col-sm-4 categories" data-margin-bottom-30px-delay="0.2s">
    <a ui-sref="categoryDeals({category:'{{category.slug}}'})">
        <div class="img-wrapper">
            <img lazy-img="{{ category.image }}" alt="" class="img-responsive"/>
            <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 categories-text">SHOP FOR {{ category.name }}</p>
            <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 available-deal-text ">{{ category.dealsCount }} Available
                Deals</p>
        </div>
    </a>
</div>