<div class="col-lg-6 col-md-6 col-sm-6 hottest-deal">
    <div class="panel shadow">
        <a ui-sref="dealDetails({id:deal.id})">
            <img id="dealImage"
                 lazy-img="{{ deal.asset_settings.hero_image.length>0? deal.asset_settings.hero_image: deal.image}}" alt="" class="img-responsive"/>
        </a>
        <div class="panel-body panel-default">
            <div class="col-lg-12">
                <div id="dealTitle" class="deal-header">
                    <a ui-sref="dealDetails({id:deal.id})" style="color: #333">{{ deal.title }}</a>
                </div>
                <div id="dealDesc" class="deal-body" ng-bind-html="(deal.desc | limitTo : 150) + (deal.desc.length > 150 ? '...' : '')" style="height: 64px"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 padding-right-0px">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding-left-right-0px">
                    <a class="storeLink" ui-sref="storeDeals({store:'{{deal.mobile_site_name}}'})">
                        <img id="dealBusinessLogo" lazy-img="{{ deal.business_logo }}" alt="{{ deal.business_name }}"
                             title="{{ deal.business_name }}" class="deal-logo img-responsive"/>
                    </a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 padding-left-right-0px user-label text-left">
                    <span id="dealUses" ng-if="deal.uses">{{ deal.uses }} uses</span><br>
                    <a ui-sref="storeDeals({store:'{{deal.mobile_site_name}}'})" class="coupon storeLink">View Store
                        Coupons</a>
                </div>
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm expire-xs">
                    <div class="col-xs-6 hidden-lg hidden-md hidden-sm expire-xs">
                        <span class="expire pull-left">Expire: <span id="dealExpire">{{ deal.expires == '2099-01-01' ? 'Never' : deal.expires }}</span></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 expire-xs ">
                        <a target="_blank" ng-href="" ng-click="redeemDeal(deal)" class="dealBarcode">
                            <button class="btn btn-blue redeem">Redeem Deal</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 hidden-xs">
                    <a target="_blank" ng-href="" ng-click="redeemDeal(deal)" class="dealBarcode">
                        <button class="btn btn-green pull-right redeem" ng-show="deal.can_redeem">Redeem Deal</button>
                        <button class="btn btn-blue pull-right redeem" ng-show="!deal.can_redeem">Purchase Deal</button>
                    </a>
                    <span class="expire hidden-xs">Expire: {{ deal.expires == '2099-01-01' ? 'Never' : deal.expires }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" ng-if="index % 2 != 0"></div>