<div class="panel custom-panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <p ng-class="category.icon"></p>
            <a class="accordion-title featured-title" href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
               ng-class="{'collapsed': !isOpen}" uib-accordion-transclude="heading">
            <span uib-accordion-header>
              <span ng-bind-html="heading"></span>
            </span>
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude>
        </div>
    </div>
</div>