<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 flash-box">
    <div class="panel panel-default flash-xs">
        <div class="panel-body flash">
            <div align="center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padding-left-right-0px">
                <a target="_blank" ng-click="redeemDeal(flashSale)" style="cursor: pointer">
                    <img class="img-responsive" lazy-img="{{ flashSale.image }}">
                </a>
                <img src="themes/dealvine/assets/images/ellipse.png" class="discount-coupon" alt="">
                <p class="discount-coupon-text">{{ flashSale.discount }}%</p>
            </div>
            <div class="col-lg-12 padding-left-right-0px user-flash">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 pull-left flash-image">
                        <a ui-sref="storeDeals({store: '{{flashSale.mobile_site_name}}'})">
                            <img lazy-img="{{ flashSale.business_logo }}" alt="Image" height="45" width="45">
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 hot-deal-text padding-left-0px" style="height: 69px">
                        <p class="flash-text-header">
                            {{( flashSale.title | limitTo:27) + (flashSale.title.length > 27 ? '...' : '')}}
                        </p>
                        <p>{{ (flashSale.desc | limitTo:100)+(flashSale.desc.length > 100 ? '...' : '') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12  padding-left-right-0px">
                <a target="_blank" ng-click="redeemDeal(flashSale)">
                    <input type="button" value="Shop Now" class="btn btn-block btn-blue shop">
                </a>
            </div>
        </div>
    </div>
</div>