<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 flash-box ">
    <div class="panel panel-default flash-xs shadow">
        <div class="panel-body flash">
            <div align="center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padding-left-right-0px">
                <a ui-sref="savingCardDeals({id:'{{savingCard.id}}'})">
                    <img class=" img-responsive" lazy-img="{{ savingCard.image }}">
                </a>
            </div>
            <div class="col-lg-12 user-flash">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 card-text padding-left-0px">
                        <p class="card-text-header">{{ savingCard.name }}</p>
                        <p>{{ savingCard.description }}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  padding-right-0px">
                        <p class="card-price text-right"> ${{ savingCard.price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 padding-left-right-0px">
                <a ui-sref="savingCardDeals({id:'{{savingCard.id}}'})">
                    <input type="button" value="Explore Deals" class="btn btn-block btn-blue save-money">
                </a>
            </div>
        </div>
    </div>
</div>