<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 deal-title" ng-class="({'active':index == selectedIndex})"
     align="center">
    <div data-target="#custom_carousel" data-slide-to="{{ index }}" class="text-center">
        <p class="category-icon" ng-class="specialDeal.icon" style="font-size: 16px;margin-right: 5px">
        <a style="padding-left: 7px" class="pointer-cursor">{{ specialDeal.name }}</a></p>
    </div>
</div>