<div class="col-lg-3 col-md-3 col-sm-4 spacial-deal-body shadow">
    <a ui-sref="storeDeals({store:'{{store.mobile_site_name}}'})">
        <img lazy-img="{{ store.image }}" alt="" class="img-responsive" style="padding:1px"/>
    </a>
</div>