<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 brand-panel">
    <div class="thumbnail">
        <img lazy-img="{{ deal.asset_settings.hero_image.length>0? deal.asset_settings.hero_image: deal.image}}" alt="" class="img-responsive store-category-deal" />
        <a ui-sref="storeDeals({store:'{{deal.mobile_site_name}}'})">
            <img lazy-img="{{ deal.business_logo }}" class="brand-thumb-logo" alt="" width="45"/>
        </a>
        <p class="pull-left">{{ (deal.title | limitTo:27) + (deal.title.length > 27 ? '...' : '') }}</p>
        <button class="btn btn-green code-redeem code-btn" ng-show="deal.can_redeem" ng-click="redeemDeal(deal)">
            Redeem
        </button>
        <button class="btn btn-blue code-redeem code-btn" ng-show="!deal.can_redeem" ng-click="redeemDeal(deal)">
            Purchase
        </button>
    </div>
</div>