@font-face {
    font-family: 'MYRIADPROREGULAR';
    src: url('../fonts/MYRIADPROREGULAR.eot');
    src: local('MYRIADPROREGULAR'), url('../fonts/MYRIADPROREGULAR.woff') format('woff'), url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('../fonts/MyriadProSemibold.eot');
    src: local('MyriadProSemibold'), url('../fonts/MyriadProSemibold.woff') format('woff'), url('../fonts/MyriadProSemibold.ttf') format('truetype');
}

body {
    background-color: #fff;
    font-family: Raleway;
}
.main{
    padding-top: 50px;
    max-width: 1366px!important;
    margin: 0px auto;
    background-color: #fff;
}
.services {
    text-align: center;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.section-heading h1 {
    font-family: Raleway;
    font-weight: 100;
    font-size: 4.5em;
    color: #939393;
    margin: 10px 0px;
}

.section-heading-top {
    margin: -10px 40px 0px 0px !important;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: all .5s ease;
    vertical-align: middle;
    display: inline-block;
}

.deal {
    padding: 25px;
}

.deal-wrapper {
    background: #fff;
    font-family: Source Sans Pro;
    font-weight: 500;
    min-height: 300px;
}

.deal-logo {
    border-right: 2px #ebebeb solid;
    height: 80px;
    padding-right: 10px;
}

.deal-header {
    text-align: left;
    font-family: MYRIADPROREGULAR !important;
    font-weight: 900;
    font-size: 18px;
}

.deal-body {
    font-family: MYRIADPROREGULAR !important;
    font-weight: 200;
    font-size: 14px;
    text-align: left;
    height: 60px;
    overflow: hidden;
    maring-bottom: 10px;
    color: #666666;
}

.img-wrapper img:hover {
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -moz-transform: scale(1.5); /* Firefox */
    -ms-transform: scale(1.5); /* IE 9 */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}


.padding-left-right-0px {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn-blue, .btn-blue:active, .btn-blue:focus {
    color: #fff;
    background-color: #500e88;
    border-color: #500e88;
    height: 36px;
}

.btn-blue:hover {
    color: #fffffd;
    background-color: #5b3188;
    border-color: #5b3188;
}


.padding-left-right-0px {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn-green, .btn-green:active, .btn-green:focus {
    color: #fff;
    background-color: #45b50b;
    border-color: #45b50b;
    height: 36px;
}

.btn-green:hover {
    color: #fffffd;
    background-color: #79f339;
    border-color: #79f339;
}

.btn-gray {
    color: #500e88;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    height: 30px;
}

.btn-gray:hover {
    color: #5b3188;
    background-color: #d9d8d8;
    border-color: #d9d8d8;
}

.redeem {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    max-height: 30px;
    margin-bottom: 6px;
}
.expire{
    font-family: MyriadProSemibold;
    font-size: 12px;
    color:#939393;
    margin-top: 18px;
}
.expire-xs{
    padding-left: 0px!important;
}
.flash-box .panel-default{
    border: none;
}

.panel-default {
    font-family: Source Sans Pro;
}

.deal-title {
    font-family: MyriadProSemibold;
    font-size: 16px;
    font-weight: normal;
    color: #949494;
    margin-bottom: 40px;
}

.active {
    border-bottom: 3px solid #500e88;
    margin-bottom: -3px;
}

.user-label {
    font-family: MyriadProSemibold;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
    margin-top: 2%;
}
.navbar-fixed-top{
    max-width: 1366px!important;
    margin: 0px auto;
}
.navbar-brand{
    padding:15px 24px!important;
}
.coupon {
    font-family: MyriadProSemibold;
    color: #500e88!important;
    font-weight: 800;
    font-size: 12px;
}
a:hover{
    text-decoration: none;
}
.navbar {
    background: #FFFFFF;
    border: none;
    font-family: MYRIADPROREGULAR;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 0px 5px 0;
}

.nav > li > a {
    border-bottom: 3px solid transparent;
    padding-bottom: 0;
    font-family: MYRIADPROREGULAR;
    font-size: 14px;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-bottom: 3px solid transparent;
    color: #010101 ;
    background: none !important;
}

.nav > li > a {
    color: #010101!important;
}

.navbar a.navbar-toggle {
    color: #010101!important;
}

.active {
    border-bottom: #4F0B86 3px solid !important;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #000000;
}

.btn-outline {
    margin-top: 7px;
    background-color: transparent;
    transition: all .5s;
    padding: 7px 38px !important;
    border-radius: 20px !important;
    border-bottom: 1px solid !important;
    border-bottom-color: #4F0B86 !important;
    border-color: #4F0B86;
    font-family: MyriadProSemibold!important;
    font-size: 14px;
}

.btn-primary.btn-outline {
    color: #4F0B86;
}

.menu-tab {
    margin-left: 12%
}
.price {
    min-height: 50px;
    min-width: 50px;
    border: 1px solid #000;
    float: right;
    text-align: center;
}

.wrapper {
    max-width: 960px !important;
    margin: 0px auto;
}

.padding-0px {
    padding: 0px !important;
}

.brand-body {
    border-bottom: 1px solid #e1e1e1;
}

.brand {
    padding: 25px 5px 15px 5px !important;
    max-width: 140px;
}

.popular-brand {
    padding: 6% 0px;
    max-width: 120px;
    color: #a5a4a4;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 500;
    text-align: left;
}

.popular-brand p span {
    font-weight: 300;
}

.user-flash {
    margin: 10px 0 10px 0;
    font-family: Raleway;
}
.flash-image{
    padding-top: 5%;
}
.img-slider-fixed {
    max-height: 500px !important;
}

.flash {
    padding: 7px!important;
}

.hot-deal-text p {
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: 300;
}

.flash-text-header {
    font-weight: 500 !important;
    margin-bottom: 5px !important;
}

.shop {
    font-weight: 100;
}

.view-more {
    margin-top: 14px;
}

.flash-box {
    padding-right: 3px !important;
}

.hottest-deal {
    padding-right: 0px;
    max-width: 487px;
}

.shadow {
    -webkit-box-shadow: -1px 3px 41px -9px #948e8e; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: -1px 3px 41px -9px #948e8e; /* Firefox 3.5 - 3.6 */
    box-shadow: -1px 3px 41px -9px #948e8e; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.spacial-deal-body {
    padding-right: 0px;
    padding-left: 0px;
    max-height: 227px;
    max-width: 221px;
    margin-bottom: 17px;
    margin-left: 15px;
}

.categories {
    padding-right: 0px;
    max-width: 325px;
    margin-bottom: 15px;
}
.categories-text {
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 46%;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px #333;
}
.available-deal-text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: 87%;
    font-family: Lato;
    font-weight: 600;
    text-align: right;
    padding-right:30px;
    text-shadow: 1px 1px #333;
}
.discount-img-fixed {
    max-height: 284px;
}

.discount-container {
    position: relative;
}

.overlay_image {
    position: absolute;
    top: -20%;
    left: 10%;
    max-height: 438px;
    vertical-align: middle;
}

.discount-text {
    position: absolute;
    top: 16%;
    font-family: MyriadProSemibold;
    left: 59%;
    font-size: 42px;
    width: 30%;
    color: #fff;
}

.app-store {
    position: absolute;
    top: 64%;
    left: 59%;
}

.play-store {
    position: absolute;
    top: 64%;
    left: 72%;
}

.discount-section {
    margin-top: 52px;
}

.discount-coupon {
    position: absolute;
    top: -5px;
    left: -5px;
}

.discount-coupon-text {
    position: absolute;
    color: #fff;
    font-size: 20px;
    left: 3%;
    top: 4%;
    font-family: Raleway;
    font-weight: 400;
}

/**footer**/
.footer{
    background: #fff;
}
.footer-body{
    padding-top: 50px;
    background: #fff;
    margin-bottom: 2px;
    padding-bottom: 18px;
}
.footer-header{
    padding-bottom: 30px;
    background: #fff;
    margin-bottom: 2px;
}
.info-body{
    font-family: MYRIADPROREGULAR !important;
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    color: #a3a3a3;
}
.social-info {
    margin-left: -30px !important;
    color: #a3a3a3 !important;
    font-family: MYRIADPROREGULAR !important;
}

.app-store-btn{
    margin-left: -17px;
    border-radius: 20px;
}
@media only screen and (max-width: 768px) {
    .app-store-btn{
        width: 130px
    }
}

.fa-linkedin{
    background-color: #2B51DF;
    color: #ffffff !important;
}

.dotted-spaced {
    background-image: linear-gradient(to right, #a3a3a3 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    margin: 15px 0 15px 0;
}
.social-small li .fa {
    color: #a3a3a3;
    font-size: 12px !important;
    padding: 3px;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.copyright{
    padding: 18px;
}
.info{
    font-family: MYRIADPROREGULAR !important;
    font-weight: 200;
    font-size: 14px;
    text-align: left;
    padding-bottom: 5px;
    color: #a3a3a3;
    letter-spacing: 2px;
}
/**footer**/
@media (max-width: 992px) {
    .popular-brand {
        padding: 3% 0 0 0;
        max-width: 100%;
        color: #a5a4a4;
        font-size: 26px;
        font-family: Raleway;
        font-weight: 500;
        text-align: left;
    }
    .brand {
        padding: 20px 5px 15px 5px !important;
        max-width: 100%;
    }
}
@media (max-width: 992px){
    .brand {
        padding: 15px 5px 15px 5px !important;
        max-width: 100%;
    }
    .wrapper{
        padding:0px 15px;
    }
    .categories {
        padding-right: 15px!important;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .card-left {
        position: absolute;
        left: 5%!important;
        top: 36%!important;
    }
    .card-right {
        position: absolute;
        right: 10%!important;
        top: 36%!important;
    }
}

@media (min-width: 1200px) {
    .redeem {
        margin-top: 13%;
    }
}
@media (max-width: 413px) {
    .card-heading h1 {
        font-size: 2em!important;
    }
}
@media (max-width: 767px) {
    .spacial-deal-body {
        margin: 15px auto;
    }
    .card-category-body {
        max-height: 130px;
        max-width: 115px;
        margin-right: 12.5px;
        margin-bottom: 20px;
        background: #fff;
        padding: 30px 0 0px 0;
        font-family: MYRIADPROREGULAR;
        text-align: center;
        font-size: 17px;
    }
}
@media (max-width: 768px) {
    .deal-logo {
        border-right: 2px #ebebeb solid;
        height: 50px;
    }
    .login-button {
        float: left;
        margin-right: 28px !important;
    }
    .section-heading h1 {
        font-size: 2.5em;
        margin: 20px 0px;
    }
    .title h1 {
        font-size: 3em!important;
    }
    .flash{
        max-width: 314px;
        padding: 10px;
    }
    .flash-box{
        max-width: 314px;
    }
    .flash-xs{
        margin: 14px;
    }
    .hottest-deal{
        padding-right: 15px;
    }
    .categories-text {
        font-size: 14px!important;
        text-align: center;
    }
    .categories-text {
        font-size: 14px!important;
    }
    .flash-box {
        margin:0 auto;
    }
    .available-deal-text{
        padding-right: 60px;
    }
    .info {
        font-size: 12px;
    }
}
@media (min-width:1024px) {
    .special-deal-right {
        position: absolute;
        top: 42%;
        right: -9%;
    }
    .special-deal-left {
        position: absolute;
        top: 42%;
        left: -9%;
    }
}
@media (max-width: 1023px) {
    .special-deal-right {
        display: none;
    }
    .special-deal-left {
        display: none;
    }
    .deal-logo {
        border-right: 2px #ebebeb solid;
        height: 60px;
    }
    .deal-header {
        font-size: 16px;
    }
    .deal-body {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .categories-text {
        font-size: 14px;
    }
    .available-deal-text{
        font-size: 11px;
    }
}

@media (min-width: 768px) {

    .padding-left-0px {
        padding-left: 0px !important;
    }

    .padding-right-0px {
        padding-right: 0px !important;
    }

    .login-button {
        float: right;
        margin-left: 0;
        margin-right: 28px !important;
    }
    .menu-tab {
        margin-left: 0 !important;
    }
}
/* media used for make responsive phone image */
@media only screen and (max-width: 1406px) {
    .discount-text {
        font-size: 36px;
    }

    .app-store {
        left: 58%;
    }

    .play-store {
        left: 74%;
    }

    .overlay_image {
        left: 7%;
        width: 32%;
    }
}

@media only screen and (max-width: 1200px) {
    .discount-text {
        font-size: 30px;
    }

    .app-store {
        left: 57%;
        width: 13%;
    }

    .play-store {
        left: 75%;
        width: 13%;
    }

    .overlay_image {
        left: 7%;
        width: 32%;
    }
}

@media only screen and (max-width: 1010px) {
    .discount-text {
        font-size: 25px;
    }

    .app-store {
        left: 59%;
        width: 12%;
    }

    .play-store {
        left: 75%;
        width: 12%;
    }

    .overlay_image {
        left: 7%;
        width: 32%;
    }
}

@media only screen and (max-width: 852px) {
    .discount-text {
        font-size: 20px;
    }

    .app-store {
        left: 59%;
        width: 11%;
    }

    .play-store {
        left: 75%;
        width: 11%;
    }

    .overlay_image {
        left: 7%;
        width: 31%;
    }
}

@media only screen and (max-width: 687px) {
    .discount-text {
        font-size: 15px;
    }

    .app-store {
        left: 59%;
        width: 11%;
    }

    .play-store {
        left: 75%;
        width: 11%;
    }

    .overlay_image {
        left: 7%;
        width: 31%;
    }
}

@media only screen and (max-width: 531px) {
    .discount-text {
        font-size: 10px;
    }

    .app-store {
        width: 10%;
    }

    .play-store {

        width: 10%;
    }

    .overlay_image {
        width: 30%;
    }
}
@media only screen and (max-width: 414px) {
    .info {
        margin-left: -14px;
    }
}
.card-active a{
    color:#eee;
}
.card-active a:hover{
    color:#eee;
}
.brade-cum-text{
    color: #949494 !important;
}
.brade-cum.a:focus{
    text-decoration: none!important;
}
.carousel-control.left {
    background-image: none !important;
    background-repeat: no-repeat !important;
    left: -13% !important;
    top: 50% !important;
}
.carousel-control.right {
    background-image: none !important;
    background-repeat: no-repeat !important;
    right: -13% !important;
    top: 50% !important;
}
@media only screen and (max-width: 1280px) {
    .carousel-control.left
    {
        left:0% !important;
    }
    .carousel-control.right {
        right:0% !important;
    }
}
.modal{
    font-family: MYRIADPROREGULAR !important;
}
.login-hr {
    background-color: #cdcdcd ;
    height: 1px;
    margin-top: 0px !important;
}
.or-span {
    display: block;
    position: absolute;
    left: 51%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 1.5em;
    color: #aaa;
}
.btn-facebook
{
    background: #3b5998 ;
    color: #fff !important;
}
.btn-google
{
    background: #db4437 ;
    color: #fff !important;
}
.btn-twitter
{
    background: #00aced ;
    color: #fff !important;
}
.btn-login {
    color: #fff;
    background-color: #500e88;
    border-color: #500e88;
}
.btn-login:hover{
    color: #fffffd;
    background-color: #5b3188;
    border-color: #5b3188;
}
.btn-login:focus{
    color: #fffffd;
    background-color: #5b3188;
    border-color: #5b3188;
}
.required {
    color: red;
    padding-left: 3px;
    font-size: 14px;
}
/** saving card **/

.title h1{
    color: #fff!important;
    background: #500e88;
    font-size: 66px;
    font-weight: 100;
    padding: 0 0 10px 24px;
    margin-bottom: 0px!important;
}
.card-heading h1 {
    font-family: Raleway;
    font-weight: 200;
    font-size: 3em;
    color: #939393;
    margin: 37px 0px;
}
.brade-cum{
    font-family: MYRIADPROREGULAR;
    font-size: 15px;
}
.card-category-body {
    max-height: 146px;
    max-width: 146px;
    margin-right: 15.5px;
    margin-bottom: 20px;
    background: #fff;
    padding:50px 0 20px 0;
    font-family: MYRIADPROREGULAR;
    text-align: center;
    font-size: 17px;
}
.card-category-body a {
    color:#535353;
}
.card-category-body:hover {
    background: #5b3188;
    color: #fff!important;
}
.card-category-body:hover p a {
    color: #fff!important;
}
.card-active{
    background: #5b3188!important;
}
.card-active .category-icon {
    color: #fff!important;
}
.card-active a {
    color: #fff!important;
}
.card-active a:hover {
    color: #fff!important;
}
.brand-panel{
    padding-left: 5px !important;
    padding-right: 0px !important;

}
.featured-title{
    color: #939393!important;
}
.card-feature-body {
    max-height: 150px;
    max-width: 150px;
    margin-right: 12px;
    margin-bottom: 50px;
    background: #fff;
    padding:0px 0 10px 0;
    text-align: center;
    margin-left: 3px;
}
@media (min-height: 1920px) {
    .carousel-control.card.left {
        background-image: none !important;
        background-repeat: no-repeat !important;
        left: 15% !important;
        top: 35% !important;
    }
    .carousel-control.card.right {
        background-image: none !important;
        background-repeat: no-repeat !important;
        right: 15%;
        top: 35%;
    }
}
.card-left {
    position: absolute;
    left: -9%;
    top: 6%;
}
.card-right {
    position: absolute;
    right: -9%;
    top: 6%;
}
.category-card-left {
    position: absolute;
    left: -9%;
    top: 21%;
}
.category-card-right {
    position: absolute;
    right: -9%;
    top: 21%;
}
.card-text-header{
    font-size: 15px!important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
}
.card-text p {
    font-family: MYRIADPROREGULAR;
    font-size: 11px;
    margin-bottom: 0px;
    font-weight: 200;
    color: #535353;
}
.card-price{
    font-family: MYRIADPROREGULAR;
    font-weight: 900;
    font-size: 19px;
    color: #500e88;
    margin-top: 15px;
}

.btn-save-card {
    font-family: MYRIADPROREGULAR;
    font-size: 14px;
    color: #FFF;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    height: 36px;
}

.btn-save-card:hover {
    color: #fff!important;
    background-color: #d9d8d8;
    border-color: #d9d8d8;
}
.btn-save-card:focus {
    color: #FFF !important;
    background-color: #d9d8d8;
    border-color: #d9d8d8;
}
.card-brand{
    margin-top: 20px;
    margin-bottom: 28px;
}
/**accordion panel css **/
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border:none;
    border-bottom:2px solid rgb(200,200,200);
}
.panel-heading .accordion-title:after {
    /* symbol for "opening" panels */
    content: url('../images/back_icon.png');
    float: right; /* adjust as needed */
}

.panel-heading .accordion-title.collapsed:after {
    content: url('../images/next_icon.png');
}
.panel-body {
    padding: 5px;
}
.accordion-title
{
    font-family: Raleway;
    font-weight: 300;
    font-size: 33px;
    color: #939393;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.img-top
{
    vertical-align: inherit;
}
.thumbnail {
    padding:5px;
    border-radius: 0;
    background: white;
    margin-bottom:7px;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.code-btn {
    width:100%;
}

.custom-panel
{
    background: #E2E2E2;
    border-radius:0px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 2px inset rgba(255,255,255,0.54);
}
.indicator
{
    margin-top:10px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border:none;
    border-bottom:2px solid #E2E2E2;
}
.season-thumbnail {
    padding: 10px 45px;
    border-radius: 0;
    background: white;
    margin-bottom:15px;
    box-shadow: 2px 2px 10px #939393;
}
.season-deals-title
{
    font-family: Raleway;
    font-weight: 200;
    font-size: 33px;
    color: #000;
}
.coupons-deals-title
{
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    color: #939393;
}
.season-third-panel
{
    background: #fff;
    border-radius: 0px;
    border:1px solid #000;
    margin-bottom: 20px;
}
.save-offer-thumbnail
{
    padding: 5px 0px;
    border-radius: 0;
}
.save-origins
{
    margin-top:5px;
    color:orangered;
    font-weight: bold;
}
.save-origins i
{
    font-size:10px;
}
.save-money{
    font-weight: 100;
    font-size: 14px;
    max-height: 30px!important;
    padding-top:4px;
}

.code-redeem {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    max-height: 30px;
}
.thumbnail p {
    margin-top: 0px;
    color: #939393;
    font-size:12px;
}
.brand-thumb-logo {
    position: absolute;
    top: 4%;
    left: 8%;
}
/**accordion css end here **/

/* navigation */
.coupon-outline{
    font-family:MYRIADPROREGULAR;
    background-color: transparent;
    transition: all .5s;
    padding: 7px 23px 7px 26px!important;
    border-radius: 20px 0 0 20px !important;
    border-bottom: 1px solid !important;
    border-bottom-color: #EBEBEB !important;
    border-color: #EBEBEB;
}

.btn-primary.coupon-outline {
    color: black;
}

.search-bar{
    font-family:MYRIADPROREGULAR;
    width: 380px;
    padding: 6px 13px 8px 40px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #EBEBEB;
    border-radius: 20px 0 0 20px;
}
.search-btn{
    font-family:MYRIADPROREGULAR;
    color: white;
    background-color: #500E89;
    margin-left: -4px;
    padding: 8px 37px !important;
    border-radius: 0 20px 20px 0 !important;
    border: 1px solid #EBEBEB;
    margin-top: 6px;
    margin-right: 15px;
}
.search{
    margin-left: 3%;
}
.search .fa{
    padding-left: 30px;
}
.search-btn:hover{
    color: white;
    background-color: #500E89;
}
.search-btn:focus{
    color: white;
    background-color: #500E89;
}
.add-on {
    padding-top: 16px;
    margin-right: -28px;
}

@media only screen and (max-width: 1175px) {
    .coupon-outline {
        padding: 7px 25px !important;
    }
    .search-bar{
        width: 325px;
    }
    .search-btn{
        padding: 7px 25px !important;
    }
}

@media (max-width: 1036px) and (min-width:400px) {
    .coupon-outline {
        padding: 7px 20px !important;
    }
    .search-bar{
        width: 225px;
    }
    .search-btn{
        padding: 7px 20px !important;
    }
}
/* end navigation */
.dropdown-menu.pull-right{
top: 94%!important;
    border-top: none;
}
.coupon-list {
    margin: 2px -1px 0 !important;
    min-width: 146px !important;
}
.deal-coupon{
    position: absolute;
    top: 10px;
    left: 9px;
    background-color:#48B11D ;
    color: white;
    cursor:auto;
    border: none;
    font-family: MyriadProSemibold;
    font-size: 12px;
}
a:focus,input:focus, button:focus {
    outline: none!important;
}
.login{
    width: 450px;
}
.hot-deal-header{
    padding: 0px 0px 0px 56px!important;
    margin-left:20px!important;
    background: linear-gradient(to right, rgba(173, 243, 255, 0) 14.7%,#500e88 14.7%,#500e88 100%)!important;
}

.pointer-cursor {
    cursor: pointer;
}

.slider-pre-arrow {
    background: url(../images/left.png) no-repeat;
    height: 60px;
    width: 60px;
    float: left;
    padding-top: 45px;
    position: absolute;
    left: -80px;
    margin-top: 45px;
    margin-right: 10px;
    cursor: pointer;
}

.slider-next-arrow {
    background: url(../images/right.png) no-repeat;
    height: 60px;
    width: 60px;
    float: left;
    position: absolute;
    right: -85px;
    bottom: 95px;
    cursor: pointer;
}
.profile,.profile label{
    font-family: MYRIADPROREGULAR;
    color: #010101!important;
    font-size: 14px;
    font-weight: normal!important;
}
/*.slick-list {*/
    /*max-height: 200px;*/
    /*position: absolute;*/
    /*max-width: 975px;*/
/*}*/
#outlook a {
    padding: 0;
}

.ReadMsgBody {
    cursor: auto;
    color: #000000;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
}
.externalClass {
    cursor: auto;
    color: #000000;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
}

.discount {
    cursor: auto;
    color: #C6AA5C;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
}

.offer {
    display: inline-block;
    text-decoration: none;
    color: #C6AA5C;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}
.member-header{
    cursor:auto;color:#666;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:17px;line-height:22px;
}

.double-bounce1, .double-bounce2 {
    background-color: #5b3188 !important;
}

.saving-card-deals-text-container {
    height: 90px;
    line-height: 90px;
    margin-right: 20px;
    padding-top: 5px;
}

.saving-card-deals-text {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.ng-hide {
    display: none !important;
}

.typeahead-group-header {
    padding: 3px 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.store-category-deal {
    min-height:162px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.double-bounce-spinner {
    margin: 0 auto;
}

.store-image {
    margin-bottom: 10px;
}

.store-title {
    color: #666;
}