==
<!--<section id="dealvine-logo">-->
    <!--<div class="footer-header">-->
        <!--<div class="wrapper">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 pull-left">-->
                    <!--<img src="{{ 'assets/images/dealvine_logo.png'|theme }}" alt="" style="margin-top:70px">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section id="information">
    <div class="footer-body">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 padding-left-0px">
                        <div class="info">INFORMATION</div>
                        <nav class="navbar navbar-default social-info pull-left">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms & conditions</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Support Center</a></li>
                                    <li><a href="#">Press Info</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                        <div class="info">APP</div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 expire-xs">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <a target="_blank" href="https://itunes.apple.com/us/app/dealvine/id1163507979?mt=8">
                                        <img src="{{ 'assets/images/apple.png'|theme }}" alt="" class="app-store-btn">
                                    </a>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.neon.dealvine">
                                        <img src="{{ 'assets/images/googleapp.png'|theme }}" alt="" class="app-store-btn">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='dotted-spaced'><br></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <p class="info-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                        sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                        aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                        reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                        dolorem eum fugiat quo voluptas nulla pariatur</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="copyright">
    <div class="footer">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 copyright padding-left-0px">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <div class="copylinks">
                            <p class="info">Copyright &copy; 2017 NeonMobile</p>
                        </div><!-- end links -->
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <ul class="list-inline social-small pull-right">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>