==
<nav class="navbar navbar-fixed-top" ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home"><img src="{{ 'assets/images/dealvine_logo.png'|theme }}" alt=""></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse menu-tab">
        <ul class="nav navbar-nav" ng-show="hardLoggedIn">
            <li><a ui-sref="deals">Deals</a></li>
            <li><a ui-sref="stores">Stores</a></li>
            <li><a ui-sref="savingCards">Saving Cards</a></li>
        </ul>
        <ul class="nav navbar-nav login-button pull-right" ng-show="hardLoggedIn">
            <li id='loginUserDropdown' ng-show="isLoggedIn">
                <div class="dropdown" style="padding-top:10px">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border:none">
                        <span ng-cloak>Welcome, {% verbatim %}{{ customerProfile.firstName }}{% endverbatim %} <span
                                class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="mySavingCards">My Saving Cards</a></li>
                        <li ng-click="onLogout()" class="pointer-cursor"><a>Logout</a></li>
                    </ul>
                </div>
            </li>
            <li id="loginBtn" ng-show="!isLoggedIn">
                <a ng-click="openLoginPopup()" class="btn btn-primary btn-outline">Login</a>
            </li>
        </ul>
        <button type="button" class="pull-right btn btn-default hidden-xs hidden-sm search-btn" ng-click="onSearch()"
                ng-show="hardLoggedIn">
            <span ng-hide="currentSearchRequests">Search</span>
            <span ng-if="currentSearchRequests">
                <wave-spinner style=";margin-right: 19px" class="pull-right hidden-xs hidden-sm">
                </wave-spinner>
            </span>
        </button>

        <script type="text/ng-template" id="search-item.html">
            <div class="typeahead-group-header" ng-if="match.model.hasHeader">{% verbatim %}{{match.model.header}}{% endverbatim %}</div>
            <a ng-hide="match.model.type == 'View All'">
                <span>{% verbatim %}{{match.model.name}}{% endverbatim %}</span>
            </a>
            <a ng-if="match.model.type == 'View All'" style="padding-left: 10px">
                <span style="font-weight: bold">{% verbatim %}{{match.model.name}}{% endverbatim %}</span>
            </a>
        </script>
        <input type="text" id="btn2" class="pull-right search-bar hidden-xs hidden-sm" name="search-bar"
               placeholder="Search for coupons..." ng-model="searchText"
               uib-typeahead="deal as deal.name for deal in search($viewValue)"
               typeahead-on-select="goToSearchItem($item, $model, $label)"
               typeahead-template-url="search-item.html" ng-show="hardLoggedIn">
        <span class="add-on pull-right hidden-xs hidden-sm">
            <img src="{{ 'assets/images/search.png'|theme }}" ng-show="hardLoggedIn">
        </span>
    </div>
    <style>
        .dropdown-menu {
            width: 27% !important;
        }
        .wave-spinner > div {
            background-color: #fff;
        }
        .wave-spinner {
            margin: 0;
            width: 20px;
            height: 20px;
        }
    </style>
</nav>