title = "Dealvine"
url = "/"
layout = "default"
is_hidden = 0

[advanced home_page_slider]
idSlider = 1
height = 400
autoplay = "true"
fillmode = 0
transaction = 0
autoplayinterval = 4000
pauseonhover = 1
arrowkeynavigation = "true"
slideduration = 500
mindragoffset = 40
slidespacing = 0
dragorientation = 1
playorientation = 1
chancetoshow = 0
autocenter = 1
orientation = 1
spacingx = 8
spacingy = 8
steps = 1
lanes = 1
chancetoshowarrow = 1
autocenterarrow = 2
stepsarrow = 1
==
<div ng-show="isHomePage" class="ng-hide">
    {% component 'home_page_slider' %}
</div>
<ui-view></ui-view>